@using Biblioteca.Models
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@using Biblioteca.DataBase.Services

@inject ILoanService LoanService

<div class="modal fade @(IsVisible ? "show d-block" : "d-none")" tabindex="-1"
     style="background-color: rgba(0, 0, 0, 0.5);">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Emprestimo</h5>
                <button type="button" class="btn-close" @onclick="CloseModal"></button>
            </div>
            <div class="modal-body">
                @if (EmprestimoParaEdicao != null && EmprestimoParaEdicao.Cliente != null && EmprestimoParaEdicao.Livro != null) {
                    <EditForm Model="EmprestimoParaEdicao" OnValidSubmit="HandleValidSubmit">
                        <DataAnnotationsValidator/>
                        <ValidationSummary/>

                        <div class="mb-3">
                            <label for="nome" class="form-label">Nome do Cliente</label>
                            <InputText id="nome" class="form-control" @bind-Value="EmprestimoParaEdicao.Cliente.Nome"/>
                        </div>

                        <div class="mb-3">
                            <label for="email" class="form-label">Nome do Livro</label>
                            <InputText id="email" class="form-control" @bind-Value="EmprestimoParaEdicao.Livro.Titulo"/>
                        </div>

                        <div class="mb-3">
                            <label for="rua" class="form-label">Data de Retorno</label>
                            <InputDate id="rua" class="form-control" @bind-Value="EmprestimoParaEdicao.DataRetorno"/>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-danger" @onclick="Excluir">Excluir</button>
                            <button type="button" class="btn btn-secondary" @onclick="CloseModal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </EditForm>
                }
                else {
                    <p>Carregando...</p>
                }
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public Emprestimo? EmprestimoParaEdicao { get; set; }
    [Parameter] public bool IsVisible { get; set; }
    [Parameter] public EventCallback<bool> IsVisibleChanged { get; set; }

    protected override void OnParametersSet() {
        if (EmprestimoParaEdicao != null && EmprestimoParaEdicao.Livro == null) {
            EmprestimoParaEdicao.Livro = new Livro();
        }
        if (EmprestimoParaEdicao != null && EmprestimoParaEdicao.Cliente == null) {
            EmprestimoParaEdicao.Cliente = new Cliente();
        }
    }

    private async Task HandleValidSubmit() {
        if (EmprestimoParaEdicao != null) {
            await LoanService.UpdateLoan(EmprestimoParaEdicao, EmprestimoParaEdicao.Id);
            await CloseModal();
        }
    }

    private async Task CloseModal() {
        IsVisible = false;
        await IsVisibleChanged.InvokeAsync(IsVisible);
    }

    private async Task Excluir() {
        if (EmprestimoParaEdicao != null) {
            await LoanService.DeleteLoan(EmprestimoParaEdicao.Id);
            await CloseModal();
        }
    }

}