@page "/biblioteca/gerenciar"
@using Biblioteca_WebApp.Components.Layout
<PageTitle>Gerenciar</PageTitle>
<h2>Gerenciar Pessoas</h2>

<div class="content">
    <div class="divider"></div>
    <div class="container">
        <GerenciarUsuario/>
    </div>
</div>


@code {


}