.content {
    margin-top: 1rem;
    gap: 2rem;
    display: flex;
    flex-direction: column;
}

.divider {
    width: 100%;
    border: 1px solid #383838;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
}

.gerenciador {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 10px;
}