@page "/"
@using Biblioteca_WebApp.Components.Layout
@layout None
<PageTitle>Biblioteca</PageTitle>
<div class="page">
    <header>
        <h2>Sistema de Biblioteca</h2>
    </header>
    <main>
        <h1> Bem Vindo ao Sistema!</h1>
        <p>Faça login para continuar</p>
        <a href="/biblioteca/login">Login</a>
    </main>
</div>

@code {
    
}