.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}

.container h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

::deep .custom-form {
    display: flex;
    gap: 3rem;
    flex-direction: column;
    align-items: center;
    width: 40%;
    box-shadow: grey 0px 0px 5px;
    padding: 2rem;
}

::deep .form-fields {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

::deep .form-fields Input {
    width: 100%;
    box-shadow: grey 0px 0px 5px;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 0.5rem;
}
