@page "/Painel-de-controle"
@using Biblioteca_WebApp.Components.Layout
@layout MainLayout
<PageTitle>Painel de Controle</PageTitle>
<div>

    <h1>Painel de Controle</h1>
    <p>Seja bem-vindo ao painel de controle!</p>
</div>